/* Global Styles */
body {
    font-family: 'Roboto', sans-serif;
}

/* Header */
header {
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 20;
    /* Adicione esta linha */
}

.header-link {
    color: #78818D;
}

.header-link:hover {
    color: #1d4ed8;
    font-weight: bold;
    /* Ajuste a cor de hover conforme necessário */
}

.header-link.active {
    color: #1d4ed8;
    /* Cor do link ativo */
    font-weight: bold;
    /* Deixe o link ativo em negrito */
}

/* Footer */
footer {
    background-color: #2d3748;
    color: #ffffff;
    padding: 2rem 0;
}

footer h3 {
    font-size: 1.125rem;
    font-weight: bold;
}

footer p {
    margin-top: 0.5rem;
}

footer a {
    color: #333;
    text-decoration: none;
}

footer a:hover {
    color: #1d4ed8;
}

/* Adicionando a regra para alinhar os itens do footer */
footer .flex-col {
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    gap: 2rem;
}

/* Adicionando a regra para alinhar os itens do footer */
footer .footer-flex {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    gap: 2rem;
}

/* Footer Background and Text */
.footer-bg {
    background-color: #f8fbfd;
    /* bg-gray-800 */
}

.footer-text {
    color: #333;
    /* text-white */
}

.footer-item {
    color: #78818d;
}

.footer-item a {
    color: #78818d;
    /* Define a cor inicial dos links */
}

.footer-item a:hover {
    color: #1d4ed8;
    /* Cor ao passar o mouse */
    font-weight: bold;
    /* Negrito no hover */
}

.footer-padding {
    padding-top: 2rem;
    /* py-8 */
    padding-bottom: 2rem;
    /* py-8 */
}

.footer-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    /* space-y-8 */
}

@media (min-width: 768px) {
    .footer-flex {
        flex-direction: row;
        gap: 2rem;
        /* md:space-x-8 */
    }
}

.footer-heading {

    font-size: 1.125rem;
    /* text-lg */
    font-weight: 700;
    /* font-bold */
}

.footer-item {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0.5rem;
    /* mt-2 */
}

.footer-divider {
    width: 100%;
    height: 1px;
    background-color: #e2e8f0;
    /* Light gray color */
    margin: 2rem 0;
    /* Spacing above and below the divider */
}

.footer-credits {
    text-align: center;
    color: #4a5568;
    /* Gray color */
    font-size: 0.875rem;
    /* Small font size */
    margin-bottom: 1rem;
    /* Spacing below the credits */
}

.footer-credits a {
    color: #4a5568;
    /* Cor padrão do link */
    text-decoration: none;
    transition: color 0.3s ease;
    /* Transição suave */
}

.footer-credits a:hover {
    color: black;
    /* Cor ao passar o mouse */
    font-weight: bold;
    /* Negrito no hover */
}

.custom-height {
    height: auto !important;

}

/*linha para sobrescrever o height do tailwind | Altera o tamanho da img do footer */




/* Hero Section */
.hero-section {
    position: relative;
}

.hero-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

@media (min-width: 1024px) {
    .hero-container {
        flex-direction: row;
    }
}

.hero-text {
    width: 100%;
    padding: 2rem;
}

@media (min-width: 1024px) {
    .hero-text {
        width: 30%;
    }
}

.hero-subtitle {
    color: #034b86;
    font-weight: bold;
    font-size: 0.875rem;
}

.hero-title {
    font-size: 2.25rem;
    font-weight: bold;
    margin-top: 0.5rem;
    color: #212329;
}

.highlight {
    color: #034b86;
}

.hero-description {
    color: #4a5568;
    margin-top: 1rem;
}

.hero-button {
    margin-top: 1.5rem;
    background-color: #1d4ed8;
    color: white;
    padding: 0.75rem 1.5rem;
    border-radius: 9999px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s;
}

.hero-button:hover {
    background-color: #1e40af;
}

.hero-image-container {
    width: 100%;
    position: relative;
}

@media (min-width: 1024px) {
    .hero-image-container {
        width: 50%;
    }
}


.hero-image {
    position: relative;
    z-index: 5;
    /* Certifique-se de que este valor seja menor que o do header */
    width: 100%;
    height: 100%;
    object-fit: cover;
    max-width: 800px;
    /* Defina um tamanho máximo para a largura */
    max-height: 800px;
    /* Defina um tamanho máximo para a altura */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.9);
    /* Adiciona uma sombra à imagem */
    border-radius: 30px;
    /* Adiciona bordas arredondadas à imagem */
}


/* Animação das setas */
.fa-arrow-right {
    transition: transform 0.3s ease;
}

.right-arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    animation: bounce-right 1s infinite;
}

@keyframes bounce-right {

    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translateX(0);
    }

    40% {
        transform: translateX(10px);
    }

    60% {
        transform: translateX(5px);
    }
}


/* Configuração Mobile */
@media (max-width: 767px) {
    footer {
        padding: 1rem 0;
    }

    footer .footer-flex {
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }

    footer .footer-item {
        margin-top: 1rem;
    }

    footer .footer-heading {
        font-size: 1rem;
    }

    footer .footer-credits {
        font-size: 0.75rem;
        margin-bottom: 0.5rem;
    }

    .right-arrow {
        position: relative;
        /* Remove o posicionamento absoluto */
        right: auto;
        /* Remove o deslocamento para a direita */
        top: auto;
        /* Remove o deslocamento vertical */
        margin-top: 20px;
        /* Adiciona espaço acima da seta */
        display: block;
        /* Garante que a seta seja exibida */
        text-align: center;
        /* Centraliza horizontalmente */
    }

    #servicos .grid {
        display: flex;
        flex-direction: column;
        /* Empilha os serviços verticalmente */
        align-items: center;
        /* Centraliza os serviços */
    }
}